**/.DS_Store
coverage/
test-results/
plugins/*
!plugins/__init__.py
__pycache__/
*.py[cod]
*$py.class
src/*.egg-info/
build/
dist/
.coverage
.coverage.*
.cache
.pytest_cache/
.ipynb_checkpoints
.vscode/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.dmypy.json
dmypy.json
