flake8
flake8-commas
flake8-isort
git+https://github.com/JosuaKrause/redipy.git@jk-features
isort
mypy
numpy
pre-commit
pycodestyle
pylint
pytest
pytest-cov
quick-server
requests
torch
types-requests
